body {
  margin: 0;
  background-image: url("https://i.pinimg.com/474x/2e/6b/37/2e6b3759f080577a6d74e651abf9587c.jpg");
  font-family:Arial, Helvetica, sans-serif;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#root>div{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#header+div{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#header{
  display: flex;
  padding: 10px;
  background-color: #3a9e7d;
  color: white;
  align-items: center;
  justify-content: center;
  width: 100%;
}
h2{
  margin: 0px;
}
#header > img{
  height: 40px;
  margin: 0px 15px;
}

input{
  margin: 20px;
  height: 25px;
  width: 250px;
  padding-left: 10px;
  background-color: white;
  border: 0.5px solid #3a9e7d;
}

button{
  border-style: none;
  background-color: #3a9e7d;
  color: white;
  height: 30px;
  width: 50px;
  font-weight: bold;
}

#listDiv{

  min-width: 550px;
  min-height: 420px;
  background-color: white;
  border: 3px solid #3a9e7d;

}

#listItem{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

p{
 font-weight: bold;
}
